teyfNarenji()
	linear-gradient(180deg, rgba(242, 156, 85, arguments) 0%, rgba(237, 189, 65, arguments) 100%)
teyfabi()
	linear-gradient(180deg, rgba(60, 131, 128, arguments) 0%, rgba(11, 19, 51, arguments) 100%)
rangRGB()
	rgba(47, 41, 51, arguments)
sorme()
	rgba(47, 41, 51, arguments)

abi()
	rgba(74, 50, 224, arguments)

firoze()
	rgba(0, 157, 135, arguments)
firozeh()
	rgba(2, 165, 176, arguments)
bezh()
	rgba(255, 255, 166, arguments)

ghermez()
	rgba(217, 0, 0, arguments)
secondary()
	rgba(251, 190, 1, arguments)

sefid()
	rgba(255, 255, 255, arguments)

zard()
	rgb(255, 202, 40, arguments)

tosi()
	rgba(75, 75, 75, arguments)
shadow()
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.26)

borderRadius()
	border-radius: 0.5rem
