.download-app
  width: 100%
  display: flex
  flex-flow: column
  color: tosi(1)
  margin-top: 2.5rem
  height: calc(100vh - 2.5rem)
  justify-content: space-between

  .head-download-app
    width: 100%
    padding: 2.5rem 0 1rem 0
    text-align: center
    font-size: 1.8rem
    margin: 0
  
  .btn
    width: 100%
    padding: 0 2rem
    a
      width: 100%

  .text
    width: 100%
    text-align: center
    padding: 1rem 3rem
    h3
      font-size: 1.7rem
      margin: 0

  .display-desktop
    text-decoration: none
    width: 100%
    background-color: sefid(0.9)
    border-top: 1px solid abi(1)
    border-bottom: 1px solid abi(1)
    text-align: center
    padding: 1.2rem 0
    font-size: 1.2rem
    &:visited
    &:hover
    &:active
      color: darken(abi(1), 30%)

  .footer-download-app
    direction: ltr
    width: 100%
    padding: 0.8rem
    border-top: 1px solid abi(1)
