.pay-purchase-detail
  width: 100%

.address-detail
  line-height: 1.5rem
  
.pay-purchase-wrapper
  .selec-box-wrapper
    .lead-selec-box
      color: sefid(1)
  .big-select-box
    .select-box
      img
        width: 100%
        height: 5.5rem
    
.lead-selec-box
  color: sefid(1)

