.ekhtar
	padding: 20px
	background-color: #f44336
	color: white
	margin-bottom: 15px

.alert
	padding: 15px
	color: white
	margin-bottom: 15px

.alert-danger
	background-color: lighten(ghermez(1), 20%)
	border: 1px solid ghermez(1)
	border-radius: 5px