.aza
  display flex
  flex-flow row wrap
  justify-content space-around
  a
    flex 1 100% 1
    color darken(abi(1), 70%)
    display flex
    flex-flow row wrap
    justify-content space-around
    background-color lighten(abi(1), 70%)
    border-radius 1rem
    padding 2rem
    margin-bottom 1rem
    align-items center
    text-decoration none
    img
      width 8rem
      height 8rem
      margin-left 2rem
      border-radius 50%
      box-shadow 0 0 0 5px lighten(bezh(1), 85%), 0 0 0 9px lighten(ghermez(1), 30%), 0 0 0 13px darken(abi(1), 10%)
