.dropzone-styl
	width: 100%
	min-height: 6rem
	border: 1px dashed tosi(0.7)
	border-radius: 1rem
	display: flex
	justify-content: center
	align-items: center
	color: tosi(0.7)
	cursor: pointer
	&:hover
		shadow(color1(0.4))
		color: tosi(1)
		border-color: tosi(1)