.mapboxgl-popup-content
  position relative
  width: 13rem
  direction: rtl
  text-align: right
  color: sorme(1)
  padding-top: 1rem
  a
    width: 100%
    color: abi(1)
    &:visited
      color: abi(1)
    &:hover
      color: darken(abi(1), 40%)
  span
    width: 100%
  .popup-icon-map
    position: absolute
    top: 1px
    right: 1px
    width: 1.1rem
    height: 1.1rem
    &:before
      padding-right: 0.3rem
    &:hover
      color: ghermez(1)
      background-color: tosi(0.3)