.modal-dialog
  padding 2% 5%
  background-color lighten(abi(0.75), 85%)
  .ngdialog-content
    background-color transparent
    border-radius 15px
    border 2px solid darken(sorme(1), 40%)
    // width 100%
    box-shadow 0px 25px 200px #000
    padding 0
    position relative
    overflow hidden
    z-index 3
    .ngdialog-close
      z-index 5
      opacity 0.2
      &:hover
        opacity 1
      &:before
        position absolute
        text-align center
        background-color ghermez(1)
        font-size 15px
        border-radius 50%
        color #bbb
        content '\00D7'
        font-size 26px
        font-weight 400
        height 30px
        line-height 30px
        left 5px
        text-align center
        top 5px
        width 30px
    .mslider
      position absolute
      height 100%
      width 100%
      .mslide
        position absolute
        top 0
        right 0
        height 100%
        width 100%
        img
          width 100%
      .marrows
        position absolute
        bottom 10px
        right 10px
        z-index 3
        opacity 0.5
        .dogme
          &:before
            font-size 20px
        .i-gerd
          width 25px
          height 25px
        &:hover
          opacity 1

.bozognemaei
  cursor pointer
  > a
    position absolute
    top 0
    right 0
    width 100%
    height 100%
    // z-index 1000
    text-indent 200%
    white-space nowrap
    font-size 0
    opacity 0
  &::before, &::after
    pointer-events none
// poyanmeaeish
.mslide.ng-hide-add,
.mslide.ng-hide-remove
  display block!important

.mslide.ng-hide-remove
  animation fadeIn 700ms
  z-index 3

.mslide.ng-hide-add
  animation fadeOut 550ms
  z-index 0

.modal-dialog
  .ngdialog-content
    height 180px
    @media(min-width 400px)
      height 220px
    @media(min-width 500px)
      height 280px
    @media(min-width 600px)
      height 340px
    @media(min-width 750px)
      height 420px
    @media(min-width 910px)
      height 550px
    @media(min-width 1030px)
      height 600px
    @media(min-width 1400px)
      height 800px






//
//
// slide ng-scope ng-animate ng-hide-animate ng-hide-add ng-hide ng-hide-add-active
//
// slide ng-scope ng-animate ng-hide-animate ng-hide-remove ng-hide-remove-active
