.grid
  h1
    font-size 15px
    @media(min-width 390px)
      font-size 20px
  .poshtzamine
    .darbareaks
      a
        flex-basis: 100%
        @media(min-width 700px)
          flex-basis: 48%
        @media(min-width 1200px)
          flex-basis: 32%
    .rangaks
      a
        flex-basis: 100%
        @media(min-width 600px)
          flex-basis: 48%
        @media(min-width 900px)
          flex-basis: 32%
        @media(min-width 1300px)
          flex-basis: 23%
    .gallery-aks
      .aks-zirnemayesh
        a
          flex-basis: 23%
          @media(min-width 600px)
            flex-basis: 15%
          @media(min-width 900px)
            flex-basis: 10%
          @media(min-width 1300px)
            flex-basis: 8%


.gimg
  .grid-img
    flex-basis: 100%
    @media(min-width 700px)
      flex-basis: 48%
    @media(min-width 1200px)
      flex-basis: 32%
  .grid-dore
    flex-basis: 100%
    @media(min-width 700px)
      flex-basis: 48%
    @media(min-width 950px)
      flex-basis: 32%
    @media(min-width 1300px)
      flex-basis: 24%
