::-webkit-scrollbar
  width 4px

::-webkit-scrollbar-track
  background lighten(sorme(1), 50%)

::-webkit-scrollbar-thumb
  background sorme(1)
  border-radius 1rem

::-webkit-scrollbar
  display: none

@media(min-width 50rem)
  ::-webkit-scrollbar
    display: block