.wares-header
  padding: 4rem 2rem 2rem 2rem
  text-align: center
  width: 100%
  @media(min-width 1000px)
    margin-top: -1.8rem
  .wares-svg
    fill: none;
    stroke: abi(1);
    stroke-width: 4;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  h1
    color: abi(1)