.laf-slider
  width 100%
  border-bottom 0.2rem solid black
  margin-bottom 2rem
  height: 23rem
  @media(min-width 700px)
    height: 30rem
  @media(min-width 950px)
    height: 35rem
  @media(min-width 1150px)
    height: 42rem
  @media(min-width 1350px)
    height: 50rem
