@require './omomi/moteghayer'
@require './khane/khane'
@require './omomi/omomi'
@require './omomi/text'
@require './omomi/poyanemaei'
@require './effect/poshtzamine'
@require './effect/poshtzamine.resp'
@require './effect/btn'
@require './effect/aza'
@require './effect/input'
@require './effect/dialog'
@require './effect/modalslider'
@require './effect/modal'
@require './effect/naghshe'
@require './effect/karbar'
@require './effect/pasafe'
@require './effect/upload'
@require './effect/alert'
@require './effect/ghab'
@require './effect/map'
@require './effect/scrollbar'
@require './effect/selectBox'
@require './loader/loader'
@require './loader/dotLoader'
@require './effect/cart'
@require './effect/animate'
@require './effect/map.styl'
@require './effect/footer'
@require './effect/dropzone'
@require './effect/progressbar'
@require './effect/pic'
@require './effect/image-gallery'
@require './effect/align'
@require './effect/carousel'

@require './wrapper'
@require './vorod'
@require './effect/baghal'
@require './effect/select'
@require './effect/svg'
@require './effect/rate'
@require './effect/wares'

@require './utils/oddAdd.styl'

@require './pages/notfind'
@require './pages/contact_us'
@require './pages/about_us'
@require './pages/download_app'
@require './pages/cart_list'
@require './pages/towns'
@require './pages/purchase'
@require './pages/pay_purchase'
@require './pages/wares'

@require 'khane'
@require 'nav'
@require 'center'
@require 'ware'
