.laf-slider
  width 100%
  border-bottom 0.2rem solid black
  margin-bottom 2rem
  height: 23rem
  @media(min-width 700px)
    height: 30rem
  @media(min-width 950px)
    height: 35rem
  @media(min-width 1150px)
    height: 42rem
  @media(min-width 1350px)
    height: 50rem


.vorod-bargozari
	display flex
	flex-flow: row wrap
	align-items: center
	justify-content: center
	width: 100%
	height: 3.5rem
	margin-bottom: 0.5rem
	background-color: darken(abi(0.4), 10%)
	border-radius: 0.6rem
	border: 1px solid sorme(1)
