.ghab-vorod
	width: 95%
	align-self: center
	max-width: 35rem
	h1
		text-align: right
		font-size: 1.5rem

	margin-top: 6rem
	@media(min-width 1000px)
		margin-top: 2rem

.recaptcha
	margin-top: 1rem
	align-self: center