.darbar-asli
  width: 100%
  position: relative
  .tamam-safe
    width: 100%
    display: flex
    justify-content: center
  .pad-horizen
    padding: 0 3rem

.pad-top
  padding-top: 8rem

.pinteb-wraper-80
  display: flex
  flex-flow: row wrap
  width: 92%
  margin-top: 2.5rem
  @media(min-width 800px)
    width: 80%
    margin-top: 0
